.footer {
    position: fixed;
    bottom: 0;
    background-color: #1dd1a1;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.item {
    margin: 50px;
}